<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:include="/fragment/headerFragment::userInfo" />


Employees page | <a href="/employees/add">Add Employee</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>picture</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>company name</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td>
            <img th:if="${employee.getPicName() != null}" th:src="@{/getImage(picName=${employee.picName})}"
                 width="40"/>

        </td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.company.name}"></td>
        <td><a th:href="@{'/employees/update/' + ${employee.id}}">Update</a></td>
        <td><a th:href="@{'/employees/delete/' + ${employee.id}}">Delete</a></td>
    </tr>

    </tbody>
</table>
</body>
</html>